[Desktop Entry]
Name=Lliurex-homework-sender
Comment=Lliurex homework harvester
Comment[es]=Recolector de trabajos de Lliurex
Comment[ca_ES]=Recol·lector de treballs del Lliurex
Comment[ca_ES@valencia]=Recol·lector de treballs del Lliurex
Exec=lliurex-homework-sender
Icon=lliurex-homework-sender
Terminal=false
Type=Application
NoDisplay=True
Categories=System
