Source: lliurex-homework-harvester
Section: misc
Priority: standard
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 7), cmake, extra-cmake-modules, libkf6coreaddons-dev, libkf6kio-dev, python3-poinstaller, qt6-base-dev, qt6-declarative-dev, libedupals-base-dev
Standards-Version: 3.9.3

Package: lliurex-homework-harvester
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, n4d(>=0.900),qml6-module-org-kde-kcoreaddons
Description:  Application to send files to teachers
 Application to send files to teachers with a right click.

Package: n4d-homeworkharvester-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, n4d(>=0.900)
Conflicts: n4d-server-plugins (<=0.224)
Description:  N4D homeworkhaverster plugin to be installed in server
 N4D plugin that manages teachers shares list.
 
Package: n4d-homeworkharvester-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, n4d(>=0.900), openssh-server
Description:  N4D homeworkhaverster plugin to be installed in llx classroom
 N4D plugin that manages sending files to teachers shares.
 
