Source: lliurex-homework-harvester
Section: misc
Priority: standard
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 7), autotools-dev, pkg-config,
 intltool, libthunarx-2-dev, libexo-1-dev
Standards-Version: 3.9.3

Package: lliurex-homework-harvester
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, n4d(>=0.47.2), python-glade2, python-caja
Description:  Application to send files to teachers
 Application to send files to teachers with a right click.
